body {
    margin: 0;
    font-family: Arial;
    background: #0f172a;
    color: white;
}

/* Header */
h2 {
    background: linear-gradient(to right, #ff3b3b, #ff0000);
    padding: 12px;
    margin: 0;
    text-align: center;
}

/* Table */
table {
    width: 95%;
    margin: 15px auto;
    border-collapse: collapse;
    background: #1e293b;
    border-radius: 10px;
    overflow: hidden;
}

th {
    background: #ef4444;
    padding: 10px;
}

td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #334155;
}

/* Row hover */
.row:hover {
    background: #334155;
}

/* Colors */
.green { color: #22c55e; font-weight: bold; }
.red { color: #ef4444; font-weight: bold; }
.violet { color: #a855f7; font-weight: bold; }

/* Pagination */
.pagination {
    text-align: center;
    margin: 10px;
}

button {
    padding: 10px 15px;
    border: none;
    background: #ef4444;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

/* PDF Button */
.pdfBtn {
    display: block;
    margin: 10px auto;
    background: #22c55e;
}
