body {
    margin: 0;
    font-family: Arial;
    background: #0f172a;
    color: white;
}

h2 {
    background: linear-gradient(to right, red, darkred);
    padding: 10px;
    text-align: center;
}

/* Tabs */
.tabs {
    display: flex;
    justify-content: space-around;
    background: #1e293b;
}

.tabs button {
    flex: 1;
    padding: 10px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

/* Table */
table {
    width: 95%;
    margin: auto;
    border-collapse: collapse;
    background: #1e293b;
}

th {
    background: red;
}

td {
    padding: 10px;
    text-align: center;
}

/* Colors */
.green { color: #22c55e; }
.red { color: #ef4444; }
.violet { color: #a855f7; }

/* Pagination */
.pagination {
    text-align: center;
    margin: 10px;
}

/* Buttons */
.actions {
    text-align: center;
    margin: 10px;
}

button {
    padding: 10px;
    margin: 5px;
    background: red;
    border: none;
    color: white;
    border-radius: 5px;
}
