body {
    margin: 0;
    font-family: Arial;
    background: #f1f5f9;
    color: #111;
}

h2 {
    background: linear-gradient(to right, red, darkred);
    color: white;
    padding: 12px;
    text-align: center;
    margin: 0;
}

.searchBox {
    width: 95%;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.card {
    background: white;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background: red;
    color: white;
    padding: 10px;
}

td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #eee;
}

.green { color: green; font-weight: bold; }
.red { color: red; font-weight: bold; }
.violet { color: purple; font-weight: bold; }

.pagination {
    text-align: center;
    margin: 10px;
}

button {
    padding: 10px;
    margin: 5px;
    border: none;
    background: red;
    color: white;
    border-radius: 5px;
}
